apiVersion: apps/v1
kind: Deployment
metadata:
  name: hellok8s-deployment
spec:
  strategy:
     rollingUpdate:
      maxSurge: 1 # 最多存在四个 3+1 
      maxUnavailable: 1 # 最少存活两个 3-1
  replicas: 3
  selector:
    matchLabels:
      app: hellok8s
  template:
    metadata:
      labels:
        app: hellok8s
    spec:
      containers:
      - image: polarbearneversleep/hellok8s:v2
        name: hellok8s-container